useDynLib(orcv,
          C_start, C_send, C_multiplex, C_respond,
          C_await_response, C_close_connection)
export(start, send, next_event,
       respond, await_response, complete_event)
S3method(await_response, Event)
S3method(await_response, FD)
