# useDynLib(orcv, C_start, C_send, C_multiplex, C_respond, C_monitor_response, C_await_response, C_close_connection)
export(start,
       event_push, event_pop,
       respond, monitor_response, await_response,
       event_complete)
S3method(respond, integer)
S3method(respond, Event)
S3method(monitor_response, integer)
S3method(monitor_response, Event)
S3method(await_response, integer)
S3method(await_response, Event)
S3method(event_complete, integer)
S3method(event_complete, Event)
